{{#if this._id}}
<h1>Edit Todo</h1>
{{else}}
<h1>Create Todo</h1>
{{/if}}
{{#if flash}}
<div class="error">{{flash}}</div>
{{/if}}
<form method="post" id="todoDetails">
    <label for="todo-title">Titel</label>
    <input type="text" id="todo-title" name="title" value="{{title}}" required/>

    <label for="todo-description" id="todo">Beschreibung</label>
    <textarea id="todo-description" name="description">{{description}}</textarea>

    <label for="todo-importance">Wichtigkeit</label>
    <input type="number" name="importance" min="1" max="5" value="{{importance}}" required>

    <label for="todo-duedate">Erledigt bis</label>
    <input type="date" name="duedate" id="todo-duedate" value="{{formatDate duedate}}" placeholder="YYYY-MM-DD" required/>

    {{#if this._id}}
    <div class="todoStatus">
        <label for="todo-status">Erledigt</label>
        <input type="checkbox" name="complete" id="todo-status" {{#if this.complete}}checked{{/if}} />
    </div>
    {{/if}}
    <div class="buttoncontainer">
        <button type="submit" class="button">Speichern</button>
        <a href="/" class="button">Abbruch</a>
    </div>
</form>
